html, body {
	height: 100%;
	margin: 0;
  overflow:hidden;
}

#wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#editor {
  flex: 1;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: '12';
  font-size: 12px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14';
  font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16';
  font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18';
  font-size: 18px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: '20';
  font-size: 20px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: '24';
  font-size: 24px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
  content: '36';
  font-size: 36px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="48px"]::before {
  content: '48';
  font-size: 48px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="72px"]::before {
  content: '72';
  font-size: 72px !important;
}

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before {
   font-family: "Arial";
   content: "Arial";
 }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Courier"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Courier"]::before {
   font-family: "Courier";
   content: "Courier";
 }
 
 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Times-New-Roman"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Times-New-Roman"]::before {
   font-family: "Times New Roman";
   content: "Times New Roman";
 }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Sans-Serif"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Sans-Serif"]::before {
    font-family: "Sans Serif";
    content: "Sans Serif";
  }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Verdana"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Verdana"]::before {
    font-family: "Verdana";
    content: "Verdana";
  }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Lucida"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Lucida"]::before {
    font-family: "Lucida";
    content: "Lucida";
  }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Helvetica"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Helvetica"]::before {
    font-family: "Helvetica";
    content: "Helvetica";
  }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Garmond"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Garmond"]::before {
    font-family: "Garmond";
    content: "Garmond";
  }

 .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Calibri"]::before,
 .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Calibri"]::before {
    font-family: "Calibri";
    content: "Calibri";
  }

  .ql-font-arial {
    font-family: 'Arial';
  }

  .ql-font-Courier {
    font-family: 'Courier';
  }

  .ql-font-Times-New-Roman {
    font-family: 'Times New Roman';
  }

  .ql-font-Sans-Serif {
    font-family: 'Sans Serif';
  }

  .ql-font-Verdana {
    font-family: 'Verdana';
  }

  .ql-font-Lucida {
    font-family: 'Lucida';
  }

  .ql-font-Helvetica {
    font-family: 'Helvetica';
  }

  .ql-font-Garmond {
    font-family: 'Garmond';
  }

  .ql-font-Calibri {
    font-family: 'Calibri';
  }